  <header class="site-title" >
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </header>

  <nav class="site-nav">
    <ul>
       •
      <li class="page-links"><a href="{{ site.baseurl }}/about/">About</a></li>
      <li class="page-links"><a href="{{ site.baseurl }}/">Blog</a></li>
      <li class="page-links">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="page-links">
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="page-links">
        <a href="{{ '/feed.xml' | prepend: site.baseurl }}">
          <i class="fa fa-rss"></i>
        </a>
      </li>
       • 
    </ul>
  </nav>
