/**
 * Site Main Container
 */
.main-container {
    width: $content-width;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.header {
    text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: $spacing-unit 0;

    a {
        &:hover {
            border-bottom: 3px solid $brand-color-light;
        }
    }

}

/**
 * Site header
 */
.site-title {
    display: block;
    text-align: center;
    color: $brand-color;
    font-family: $base-font-family;
    font-size: 40px;
}

.site-nav {
    width: 100%;
    font-family: $base-font-family;
    font-size: 20px;
    color: $brand-color;
    text-align: center;

    ul {
        width: 100%;
    }

    .page-links {
        margin: 5px 10px;
        display: inline;
    }
}

.links {
    font-family: 'Work Sans', sans-serif;
    color: $brand-color;
    line-height: $base-line-height;
    margin: auto;
    text-align: left;
    padding: 20px 10px 10px 10px;
    margin: 20px;
    position: relative;
    list-style: none;
}



/**
 * Page content
 */
.page-content {
    border-bottom: 3px solid $brand-color;
    margin-bottom: 20px;
    width: 100%;
}

.page-heading {
    font-size: 20px;
}





/**
 * Posts
 */
.post-list {
    list-style: none;

    > li {
        background-color: $background-color;
        margin-bottom: $spacing-unit;
    }
}

.post-title {
    display: block;
    color: $brand-color;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    padding: 5px 5px 5px 0;
    text-align: center;
    border-bottom: 3px solid $brand-color;
    border-top: 3px solid $brand-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-meta {
    display: inline;
    text-align: center;
    font-size: $small-font-size;
    color: $brand-color-light;
    padding: 0px 5px;
    margin: 0 auto;
}

.post-meta-wrapper {
    display: block;
    text-align: center;
    padding: 5px;
}

.post-excerpt {
    background-color: $background-color;
    width: 90%;
    margin: 10px auto;

    iframe {
        width: 100%;
    }
}

.post-content {
    width: 90%;
    margin: 0 auto;
    margin: 10px auto;

    iframe {
        width: 100%;
    }

    h1 {
        display: inline;
        color: $brand-color-light;
        border-bottom: 3px solid $brand-color;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .tag-list {
        margin-top: 20px;
    }
}

.pager {
    width: 100%;
    display: flex;
    flex-flow: row;

    li {
        justify-content: space-between;
        flex-grow: 1;
    }
}

.next {
    a {
        text-align: right;
        float: right;
    }
}

.tab-pane {
    color: $brand-color-light;
}

.pagination {
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 3px solid $brand-color;

}
