.highlight {
    color: #839496 !important;
    background: #002b36 !important;
    @extend %vertical-rhythm;

    .err    { color: #dc322f !important; background-color: #073642 !important; }
    .cp     { color: #586e75 !important; font-weight: bold !important; }
    .cs     { color: #586e75 !important; font-weight: bold !important; font-style: italic !important; }
    .gd     { color: #839496 !important; background-color: #fdd !important; }
    .gd .x  { background-color: #faa !important; }
    .ge     { font-style: italic !important; }
    .gi     { background-color: #dfd !important; }
    .gi .x  { background-color: #afa !important; }
    .go     { color: #839496 !important; }
    .gu     { color: #d33682 !important; font-weight: bold !important; }
    .gs     { font-weight: bold !important; }
    .gr .gt { color: #d33682 !important; }
    .gh     { color: #586e75 !important; }
    .gp     { color: #586e75 !important; }
    .nb     { color: #859900 !important; }
    .ni     { color: #d33682 !important; }
    .nt     { color: #268bd2 !important; }
    .w      { color: #586e75 !important; }
    .sr     { color: #859900 !important; }
    .ss     { color: #2aa198 !important; }
    .c .cm.c1
            { color: #586e75 !important; font-style: italic !important; }
    .k .kc .kd .kp .kr .kt .o .ow
            { font-weight: bold !important; }
    .k      { color: #859900 !important; }
    .kt     { color: #b58900 !important; }
    .bp     { color: #93a1a1 !important; }
    .nn     { color: #93a1a1 !important; }
    .nc     { color: #b58900 !important; font-weight: bold !important; }
    .m .mf .mh .mi .mo .il
            { color: #2aa198 !important; }
    .s .sb .sc .sd .s2 .se .sh .si .sx .s1
            { color: #2aa198 !important; }
    .na .nv { color: #2aa198 !important; }
    .no     { color: #b58900 !important; }
    .vc .vg .vi
            { color: #268bd2 !important; }
    .ne
    .nf     { color: #dc322f !important; font-weight: bold !important; }
}
